{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}Blog - CloudBro Gaming{% endblock %}
{% block scripts %}<script src="{% static 'blog/js/blog.js' %}"></script>{{ scripts }}{% endblock %}
{% block content %}
<div class="row section" id="news">
    <div class="container">
        <div class="row content">
            <div class="col-lg-9"><h2 class="title-text">News</h2><hr></div>
            <div class="col-lg-3 hidden-md hidden-xs hidden-sm"><h2 class="title-text">Follow us!</h2><hr></div>
        </div>
        <div class="row content">
            <div class="col-lg-9 article-feed">
                {% for post in posts %}
                <div class="article-post row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="btn-close closer"></a>
                        <article itemscope itemtype="http://schema.org/BlogPosting">
                            <h2 class="article-post-title" itemprop="headline">{{ post.title|title }}</h2>
                            <div class="post-meta"><time datetime="{{ post.created|date:'c' }}" itemprop="datePublished">{{ post.created|naturaltime }}</time> by <address><a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address></div>
                            <div class="post-content">
                                <p>{% autoescape off %}{{ post.content|truncatewords_html:35 }}{% endautoescape %}</p>
                                <a href="{% url 'blog:view_post' post.id %}/{{ post.title|slugify|urlencode }}" itemprop="url">Read More...</a>
                            </div>
                        </article>
                    </div>
                </div>
                {% endfor %}
                <a href="" class="btn btn-blue">
                    Archive
                </a>
            </div>
            <div class="col-lg-3 hidden-md hidden-xs hidden-sm sideBar">
                <div class="sideBlock">
                    <ul class="sharing-icons">
                        <li><a href="http://www.facebook.com/CloudBro"><i class="fa fa-facebook"></i> </a></li>
                        <li><a href="http://twitter.com/#!/cloudbro"><i class="fa fa-twitter"></i> </a></li>
                        <li><a href="http://plus.google.com/100344786668171874962"><i class="fa fa-google-plus"></i> </a></li>
                        <li><a href="http://twitch.tv/chatez"><i class="fa fa-twitch"></i> </a></li>
                    </ul>
                </div>
                <div class="sideBlock">
                    <a class="twitter-timeline" href="https://twitter.com/CloudBro" data-widget-id="509421744709328898">CloudBro tweets</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}