{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home Page - CloudBro Gaming{% endblock %}
{% block scripts %}<script src="{% static 'twitch/js/streams.js' %}"></script>{{ scripts }}{% endblock %}
{% block content %}<div class="row section" id="stream">
    <div class="container">
        <div id="stream-viewer" class="col-sm-12 center clearfix">
            <div class="stream-togglebox-header offline">
                <div class="col-xs-2">
                    <a href="#" class="favi-link text-white online-only stream-href">
                        <i class="text-white fa fa-twitch fa-5x"></i>
                    </a>
                    <i class="fa fa-twitch fa-5x offline-only"></i>
                </div>
                <div class="col-sm-8">
                    <a class="online-only stream-href" href="#">
						<h2 class="title-text text-white text-center hidden-xs hidden-sm stream-text-long"></h2>
						<h2 class="title-text text-white text-center hidden-md hidden-lg stream-text-short"></h2>
					</a>
                    <h2 class="title-text text-center offline-only">Nobody is streaming</h2>
                </div>
                <div class="col-sm-2 text-right hidden-xs hidden-sm online-only">
                    <a class="collapsed" data-toggle="collapse" data-target=".togglebox-content">
                        <i class="stream-toggle-icon fa fa-caret-down fa-5x"></i>
                    </a>
                </div>
            </div>
            <div class="togglebox-content collapse stream-togglebox-content">
                <div class="col-sm-12 stream-container stream-embed"></div>
            </div>
        </div>
    </div>
</div>
<div class="row section" id="news">
    <div class="container">
        <div class="row content">
            <div class="col-lg-8 col-md-8"><h2 class="title-text">News</h2><hr></div>
            <div class="col-lg-4 col-md-4 hidden-xs hidden-sm"><h2 class="title-text">Twitter</h2><hr></div><br>
        </div>
        <div class="row content">
            {% autoescape on %}{{ blogwidget }}{% endautoescape %}
            <div class="row content hidden-lg hidden-md">
                <div class="col-lg-4"><h2 class="title-text">Twitter</h2><hr></div><br>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="twitter-timeline" href="https://twitter.com/CloudBro" data-widget-id="509421744709328898">CloudBro tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>{% endblock %}